<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="margin: 10px;;padding:0">
  <%- include('partials/_header') %>
  <form method="POST" action="/login">
    <br>Email<br>
    <input class="input-inline" type="email" placeholder="Email" name="email"><br>
    Password<br>
    <input class="input-inline" type="password" placeholder="Password" name="password"><br><br>
    <button>Login</button>
</body>
</html>
